/*.lua
/*.json
/*.vim
.*Store*
*.swp
*.so
*.dll
*.o
*.csv
*.py[c|d]
*.R*
*.gz
*.zip
*.tar
*.rar
__pycache__
.netrwhist
.vscode
.theia
.vs
.fleet
.idea
.root
.svn
.hg
.vim
.github
.tasks
core
core.[0-9]*
Gemfile
GPATH
GRTAGS
GTAGS
*.tags
tags
tags-ja
tags.lock
.aider*
